@import 'src/variables';

::ng-deep pre {
  font-size: 0.75em;
  border: none;
  background-color: #fff;
  word-wrap: normal;
  padding: 8px;

  code {
    background-color: #fff !important;
    white-space: pre;
  }
}

a {
  font-weight: 600;

  &:hover {
    color: $theme-blue;
  }
}

ul {
  list-style-image: url(/assets/images/list-line.svg);
}