<section class="cv" [class.scrolled-past]="hasScrolledPast()">
  <div class="accordion">
    <div class="accordion-group top" [class.is-open]="topOpen">
      <div class="accordion-heading" (click)="topOpen = !topOpen">
        <div class="accordion-title">Work History</div>
      </div>
      <div class="accordion-body" [@accordion]="topOpen ? 'open' : 'closed'">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list">
                <li>
                  <div class="title">Web Developer (Contract)</div>
                  <div class="place"><a href="https://www.centaurmedia.com/" target="_blank">Centaur Media</a></div>
                  <div class="date">April 2021 - October 2021</div>
                  <div class="comments">
                    <p>
                      I am working as a contract developer on several projects at the company with tight deadlines. Technologies include Angular, Typescript, C#, SQL, and Elastic Search.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Senior Java Engineer</div>
                  <div class="place"><a href="https://www.vonage.co.uk/" target="_blank">Vonage</a></div>
                  <div class="date">June 2020 - April 2021</div>
                  <div class="comments">
                    <p>
                      I joined the Voice API team at Vonage, building an application that allows users to interact with SMS and voice phone calls via a REST API. The job is mainly working with Java, AWS, and Kubernetes. Unit testing was done with spock &amp; groovy, and end-to-end tests with Python. There was also some work using Terraform and Go.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Web Developer (Contract)</div>
                  <div class="place"><a href="https://www.centaurmedia.com/" target="_blank">Centaur Media</a></div>
                  <div class="date">September 2019 - April 2020</div>
                  <div class="comments">
                    <p>
                      I came in to help with the development of a new CMS project using Angular, Typescript, C#, SQL, Elasticsearch, and AWS Lambda. Unit testing was done with Jasmine &amp; Moq.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Senior Front-end Engineer (Contract)</div>
                  <div class="place"><a href="https://deloitte.com/" target="_blank">Deloitte</a> &amp; <a href="https://www.astrazeneca.co.uk/" target="_blank">AstraZeneca</a></div>
                  <div class="date">November 2018 - September 2019</div>
                  <div class="comments">
                    <p>
                      I was the principal front-end developer and architect on a new tool to calculate the costs of clinical trials. I was responsible for structuring the front-end code (Angular 7 &amp; Typescript), mentoring other developers, as well as writing code. I also did work on the back-end (Java, MongoDB) at times when the project required more resources in that area. Front-end unit testing was done with Jasmine.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Web Developer (Contract)</div>
                  <div class="place"><a href="https://imagination.com/" target="_blank">Imagination</a></div>
                  <div class="date">May 2018</div>
                  <div class="comments">
                    <p>
                      I was hired on a 2 week contract to build a javascript library to replicate the functionality of the <a href="https://segment.com/docs/sources" target="_blank">segment.io analytics library</a>, but with some adjustments. I built it as an npm package using Typescript, complete with unit tests and generated documentation
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">One Embassy Gardens Demo Site</div>
                  <div class="place">bobbentleydesign.com</div>
                  <div class="date">March 2018</div>
                  <div class="comments">
                    <p>
                      I worked on building a prototype site for a building developer. The site was only used as a demo and so did not need to be fully functioning (e.g. it was not responsive) and it was built very quickly in just 3 days.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Wan Li Portfolio Site</div>
                  <div class="place"><a href="https://liwan.co.uk">liwan.co.uk</a></div>
                  <div class="date">December 2017</div>
                  <div class="comments">
                    <p>
                      I built a portfolio site for UX designer Wan Li, using Angular to do some interesting animations.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Web Developer (Contract)</div>
                  <div class="place"><a href="https://www.centaurmedia.com/" target="_blank">Centaur Media</a></div>
                  <div class="date">November 2016 - July 2017</div>
                  <div class="comments">
                    <p>
                      I worked on building a large new CMS project built using Domain Driven Design. The design was that event messages were sent from the browser via WebSockets to make updates to the database, so that multiple users on the site would be able to see each others changes in real time. The front-end was built using Angular 4, and the back-end using C# Wep API. My specific role was to build parts of the front and back-end, advise on architectural decisions, and to build a tool to perform data migration.
                    </p>
                  </div>
                </li>
                <li>
                  <div class="title">Full-stack Web Developer</div>
                  <div class="place"><a href="https://www.centaurmedia.com/" target="_blank">Centaur Media</a></div>
                  <div class="date">August 2014 - February 2016</div>
                  <div class="comments">
                    <p>
                      My role at Centaur was to write code for various ASP.NET projects, fixing bugs and developing new features on existing sites; as well as creating brand new sites, as part of a team of 6-7 developers. The sites were built using C# for the back-end, with Microsoft SQL Server for the database engine and Apache Solr for creating indexes. A combination of AngularJs, Bootstrap, Typescript, LESS, jQuery and Knockout were used for the front-end. Mercurial was used for version management.
                    </p>
                    <p>
                      One of my main achievements was to introduce the AngularJs framework to the team, and use this to create the front-end architecture for two major new projects. These were a great success and the company is now using Angular as a standard for future projects.
                    </p>
                  </div>

                  Example projects:
                  <ul class="projects">
                    <li>
                      <a href="https://www.thelawyer.com/litigation-tracker/" target="_blank">Lawyer Market Intelligence</a>
                      - I was the lead developer on this brand new site, which including building a custom CMS. I designed the architecture for the front-endwith a combination of AngularJs, LESS and Typescript; and built a skeleton backend to interface with the database. After this initial phase the other developers joined in and we each worked on separate modules. Using this approach we were able to develop with a high degree of parallelization, and finished the project in a short space of time.
                    </li>
                    <li>
                      <a href="https://fashionmonitor.com/" target="_blank">Fashion Monitor</a>
                      - A new site was built for this product, but using an existing database. I used roughly the same architecture for the front-end as I used in the Lawyer MarketIntelligence project, and we again developed it in a highly modular fashion with many developers working in parallel.
                    </li>
                    <li>
                      <a href="https://www.influencerintelligence.com" target="_blank">Celebrity Intelligence</a>
                      - My main involvement with this site was the creation ofa search widget on the home page. It is able to filter by many different categories and display a count of the results very quickly, so to do this fast enough required using Apache Solr to create indexes from complex SQL queries.
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="title">Junior Web Developer</div>
                  <div class="place"><a href="https://www.acturis.com/" target="_blank">Acturis</a></div>
                  <div class="date">August 2012 - June 2014</div>
                  <div class="comments">
                    <p>
                      My role at Acturis was to maintain and add features to the company's product as part of an Agile development team. The product was mostly written in C#, SQL, HTML, CSS and Javascript with jQuery; there was also a lot of work with XML configuration files. The C# code was unit tested using Moq, and Subversion (SVN) was used for version management.
                    </p>
                    <p>
                      Example projects include many business to business and some business to client insurance sites.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group middle" [class.is-open]="middleOpen">
      <div class="accordion-heading" (click)="middleOpen = !middleOpen">
        <div class="accordion-title">Technologies</div>
      </div>
      <div class="accordion-body" [@accordion]="middleOpen ? 'open' : 'closed'">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="skills-list">
                <li class="row">
                  <div class="col-xs-4 col-sm-3 col-md-2"><strong>Frequent Use</strong></div>
                  <div class="col-xs-8 col-sm-9 col-md-10">
                    <a href="https://angular.io/" target="_blank">Angular</a>,
                    <a href="http://www.typescriptlang.org/" target="_blank">Typescript</a>,
                    <a href="https://rxjs.dev/" target="_blank">RxJS</a>,
                    <a href="https://nodejs.org/en/" target="_blank">Node.js</a>,
                    <a href="https://www.electronjs.org/" target="_blank">Electron</a>,
                    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5</a>,
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">CSS3</a>,
                    <a href="https://sass-lang.com/" target="_blank">SCSS</a>,
                    <a href="https://material.angular.io/" target="_blank">Angular Material</a>,
                    <a href="https://msdn.microsoft.com/en-us/library/kx37x362.aspx" target="_blank">C#</a>,
                    <a href="https://msdn.microsoft.com/en-us/library/mt693024.aspx" target="_blank">LINQ</a>,
                    <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">SQL</a>,
                    <a href="https://www.asp.net/" target="_blank">ASP.NET</a>,
                    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                    <a href="https://git-scm.com/" target="_blank">Git</a>,
                    <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>,
                    <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">Linux</a>,
                    <a href="https://en.wikipedia.org/wiki/Microsoft_Windows" target="_blank">Windows</a>
                  </div>
                </li>
                <li class="row">
                  <div class="col-xs-4 col-sm-3 col-md-2"><strong>Infrequent Use</strong></div>
                  <div class="col-xs-8 col-sm-9 col-md-10">
                    <a href="https://www.java.com/" target="_blank">Java</a>,
                    <a href="https://www.python.org/" target="_blank">Python</a>,
                    <a href="https://golang.org/" target="_blank">Go</a>,
                    <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a>,
                    <a href="https://neo4j.com/" target="_blank">Neo4j</a>,
                    <a href="https://en.wikipedia.org/wiki/X86_assembly_language" target="_blank">x86 ASM</a>,
                    <a href="https://jquery.com/" target="_blank">JQuery</a>,
                    <a href="https://jasmine.github.io/" target="_blank">Jasmine</a>,
                    <a href="https://github.com/moq/moq" target="_blank">Moq</a>,
                    <a href="https://junit.org/junit5/" target="_blank">JUnit</a>,
                    <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>,
                    <a href="https://www.elastic.co/" target="_blank">Elastic Search</a>,
                    <a href="https://aws.amazon.com/" target="_blank">AWS</a>,
                    <a href="https://kubernetes.io/" target="_blank">Kubernetes</a>,
                    <a href="https://www.terraform.io/" target="_blank">Terraform</a>,
                    <a href="https://cloud.google.com/" target="_blank">Google Cloud Platform</a>,
                    <a href="https://en.wikipedia.org/wiki/MacOS" target="_blank">MacOS</a>
                  </div>
                </li>
                <li class="row">
                  <div class="col-xs-4 col-sm-3 col-md-2"><strong>Experimented</strong></div>
                  <div class="col-xs-8 col-sm-9 col-md-10">
                    <a href="https://www.haskell.org/" target="_blank">Haskell</a>,
                    <a href="https://www.tensorflow.org/" target="_blank">Tensorflow</a>,
                    <a href="https://graphql.org/" target="_blank">GraphQL</a>,
                    <a href="https://numpy.org/" target="_blank">NumPy</a>,
                    <a href="https://soliditylang.org/" target="_blank">Solidity</a>,
                    <a href="https://reactjs.org/" target="_blank">React</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group bottom" [class.is-open]="bottomOpen">
      <div class="accordion-heading" (click)="bottomOpen = !bottomOpen">
        <div class="accordion-title">Education</div>
      </div>
      <div class="accordion-body" [@accordion]="bottomOpen ? 'open' : 'closed'">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="education-list">
                <li>
                  <div class="title">MSci. Mathematics and Physics (2:1)</div>
                  <div class="place">University of Bristol</div>
                  <div class="date">2008 - 2012</div>
                </li>
                <li>
                  <div class="title">UK Physics Olympiad</div>
                  <div class="other">Gold medal &amp; one of 15 chosen to attend the International Olympiad preparation camp</div>
                  <div class="place">University of Oxford</div>
                  <div class="date">2008</div>
                </li>
                <li>
                  <div class="title">Physics Advanced Extension Award, Merit</div>
                  <div class="place">The Manchester Grammar School</div>
                  <div class="date">2008</div>
                </li>
                <li>
                  <div class="title">5x A2 Level (AAAAB)</div>
                  <div class="other">Maths, Further Maths, Further Maths Additional, Physics, Chemistry</div>
                  <div class="place">The Manchester Grammar School</div>
                  <div class="date">2006 - 2008</div>
                </li>
                <li>
                  <div class="title">10x GCSE</div>
                  <div class="place">The Manchester Grammar School</div>
                  <div class="date">2001 - 2006</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
