@import 'src/variables';

.cv {
  background-color: #fff;

  .accordion {
    > .accordion-group {
      overflow: hidden;

      &.top .accordion-heading { background-image: url(/assets/images/ripple-top.jpg); }
      &.middle .accordion-heading { background-image: url(/assets/images/ripple-middle.jpg); }
      &.bottom .accordion-heading { background-image: url(/assets/images/ripple-bottom.jpg); }

      .accordion-heading {
        position: relative;
        text-align: center;
        height: 150px;
        line-height: 150px;
        background-repeat: repeat-x;
        overflow: hidden;
        z-index: 1;
        margin-bottom: 1px;

        &:hover { cursor: pointer; }

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: $theme-blue;
          z-index: 1;
          transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
          opacity: 0;
          transform: translateY(-150px);
        }

        .accordion-title {
          z-index: 10;
          font-size: 32px;
          font-family: $font-family-serif;

          @include media-breakpoint-down(xs) {
            font-size: 26px;
          }
        }
      }

      .accordion-body {
        background-color: $theme-light-blue;
      }

      &:last-child {
        .accordion-heading {
          margin-bottom: 0;
          &:before { transform: translateY(150px); }
        }
      }

      &:hover + .accordion-group:not(.is-open) {
        .accordion-heading:before {
          transform: translateY(-150px);
        }
      }

      &.is-open, &:hover {
        .accordion-heading:before {
          opacity: 0.5;
          transform: translateY(0) !important;
        }
      }
    }

    &:hover > .accordion-group .accordion-heading:before {
      transform: translateY(150px);
    }
  }

  .accordion .accordion-body {
    text-align: left;
    font-size: 16px;
    color: $theme-black;
    padding: 0;

    .list, .skills-list, .education-list {
      margin-top: $grid-gutter-width;
      margin-bottom: $grid-gutter-width;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.5;
      color: $theme-black;
    }

    .list {
      list-style: none;
      padding: 0;

      > li {
        position: relative;
        margin-top: $grid-gutter-width;
        padding: 60px;

        &:first-child {
          margin-top: 0;
        }

        $size: 150px;
        &:before, &:after {
          content: '';
          position: absolute;
          width: $size;
          height: $size;
          pointer-events: none;
        }

        &:before {
          top: 0;
          left: 0;
          border-top: 1px solid $theme-black;
          border-left: 1px solid $theme-black;
        }

        &:after {
          bottom: 0;
          right: 0;
          border-bottom: 1px solid $theme-black;
          border-right: 1px solid $theme-black;
        }
      }

      .title, .place, .date { font-family: $font-family-serif; font-weight: 300; }
      .title { font-size: 1.4em; }

      .comments, .projects {
        margin-top: 20px;
      }

      .projects {
        > li {
          margin-bottom: 5px;
        }
      }
    }

    .skills-list {
      list-style: none;
      padding: 0;

      > li {
        margin-top: $grid-gutter-width / 2;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .education-list {
      list-style-position: outside;
      padding-left: 40px;

      .title, .other, .place, .date { font-family: $font-family-serif; font-weight: 300; }
      .title { font-weight: 600; }
      .place { font-style: italic; }

      > li {
        margin-top: $grid-gutter-width / 2;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .list, .education-list {
        font-size: 14px;
        margin-top: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width / 2;
      }

      .list {
        padding: 15px;

        > li {
          margin-top: $grid-gutter-width/2;
          padding: 0;

          &:before {
            content: none;
          }

          &:after {
            display: block;
            height: $grid-gutter-width/2;
            margin: 0 auto;
            position: relative;
            border-right: none;
          }

          &:last-child:after {
            content: none;
          }
        }
      }

      .skills-list {
        padding: 0 15px;
      }

      .education-list {
        padding: 0 15px;
      }
    }
  }

  &.scrolled-past {
    .accordion .accordion-body {
      .education-list { list-style-image: url(/assets/images/list-line.svg); }
      .list .projects { list-style-image: url(/assets/images/list-line.svg); }
    }
  }
}