<article>

  <div class="background">
    <section class="main container">
      <ul class="blogs-list row">
        <li *ngFor="let blog of blogs?.items" class="col-xs-12 col-sm-6 col-md-4">
          <a class="blog-card"
            [routerLink]="['/blog', blog.blogId]"
            [ngClass]="'id-' + blog.blogId">

            <div class="content">
              <div class="headline">{{blog.headline}}</div>
              <div class="date">{{blog.updatedDate | date:'dd/MM/yyyy'}}</div>
            </div>
          </a>
        </li>
      </ul>
    </section>

    <section class="pagination-container text-center" *ngIf="blogs?.totalCount > blogs?.pageSize">
      <pagination
        [totalItems]="blogs?.totalCount"
        [itemsPerPage]="blogs?.pageSize"
        [(ngModel)]="pageNo"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </section>
  </div>

  <app-footer></app-footer>

</article>