<article>

  <section class="headline" [ngClass]="'id-' + article?.portfolioId" page-fix-firefox image-refresh="article?.id">
    <div class="box" [class.page-loaded]="isPageLoaded">
      <h1>{{article?.headline}}</h1>

      <h4>{{article?.updatedDate | date:'dd MMMM yyyy'}}</h4>
    </div>
  </section>

  <section class="main">
    <div class="container">
      <div class="row justify-content-center">
        <app-markdown class="col-12 col-sm-10" [markdown]="article?.markdown"></app-markdown>
      </div>
    </div>
  </section>

  <section class="related-portfolios container-fluid">
    <div class="row no-gutters justify-content-between">
      <a class="related-card align-items-center justify-content-start card-prev col-5 col-sm-5 col-md-4 col-xl-3"
        *ngIf="article?.prevPortfolio"
        [routerLink]="['/portfolio', article?.prevPortfolio.portfolioId]">
        <div class="content">
          <h3 class="headline">{{article?.prevPortfolio.headline}}</h3>
          <div class="date">{{article?.prevPortfolio.updatedDate | date:'dd MMMM yyyy'}}</div>
        </div>
      </a>
      <div *ngIf="!article?.prevPortfolio" class="col-5 col-sm-5 col-md-4 col-xl-3"></div>
      <a class="related-card align-items-center justify-content-end card-next col-5 col-sm-5 col-md-4 col-xl-3"
        *ngIf="article?.nextPortfolio"
        [routerLink]="['/portfolio', article?.nextPortfolio.portfolioId]">
        <div class="content">
          <h3 class="headline">{{article?.nextPortfolio.headline}}</h3>
          <div class="date">{{article?.nextPortfolio.updatedDate | date:'dd MMMM yyyy'}}</div>
        </div>
      </a>
    </div>
  </section>

  <app-footer></app-footer>

</article>