<footer id="page-footer" class="footer">
  <div class="content container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="title">Get in touch</h1>
        <h4 class="email"><a href="mailto:mjerred.work@gmail.com">mjerred.work@gmail.com</a></h4>
        <ul class="links">
          <li>
            <a href="http://www.linkedin.com/in/michael-jerred-66b06951" target="_blank" class="mj-icon mj-icon-linkedin-letters">
              <svg class="icon icon-linkedin-letters"><use xlink:href="/assets/icons.svg#icon-linkedin-letters"></use></svg>
            </a>
          </li>
          <li>
            <a href="http://stackoverflow.com/users/4854046/mike" target="_blank" class="mj-icon mj-icon-stack">
              <svg class="icon icon-stack"><use xlink:href="/assets/icons.svg#icon-stack"></use></svg>
            </a>
          </li>
          <li>
            <a href="http://github.com/MikeJerred" target="_blank" class="mj-icon mj-icon-github-logo">
              <svg class="icon icon-github-logo"><use xlink:href="/assets/icons.svg#icon-github-logo"></use></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>