<section class="overview" [class.scrolled-past]="hasScrolledPast()">
  <div class="container">
    <div class="row align-items-center">
      <div class="left col-xs-12 col-sm-6">
        I have experience working on existing codebases, as well as designing the code
        architecture and building sites from scratch. I&nbsp;usually like to use these&nbsp;technologies:
      </div>
      <div class="right col-xs-12 col-sm-6">
        <ul class="tech-list">
          <li>Frontend MV* Framework: Angular</li>
          <li>Javascript Pre-processor: Typescript</li>
          <li>CSS Pre-processor: SCSS</li>
          <li>Server: ASP.NET C# or Express with Node.js</li>
          <li>Database: SQL Server or MongoDB</li>
          <li>Build Tool: webpack</li>
        </ul>
      </div>
    </div>
  </div>
</section>
